@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

.App {
    background-color: #1E1E1E;
    min-height: 100vh;
    color: #ffffff;
    font-family: 'Bubblegum Sans', cursive;
    padding: 7%;
}
h1{
    font-size: 60px;
}
.submit{
    background: rgb(67,9,121);
    background: linear-gradient(141deg, rgba(67,9,121,1) 41%, rgba(0,78,255,1) 100%);
    font-size: x-large;
}
